services:

  postgres:
    image: postgres:15
    container_name: trading_postgres
    environment:
      POSTGRES_USER: trading_user
      POSTGRES_PASSWORD: trading_pass
      POSTGRES_DB: trading_db
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    container_name: trading_redis
    ports:
      - "6379:6379"
